@model AMS.MVC.Data.Models.MovieStar

@{
    ViewData["Title"] = "Movie star delete confirmation";
}

<h2 class="mb-0">Movie star delete confirmation</h2>

<hr class="my-4" />

<div class="mb-4">
    Are you sure that you want to delete movie character "@Model.Character" (acting by actor @Model.Person.FullName)?
</div>

<form asp-controller="Stars" asp-action="Delete" asp-route-movieId="@Model.MovieId" asp-route-personId="@Model.PersonId">
    <input class="btn btn-danger" type="submit" value="Delete" />
    <a class="ml-2 btn btn-primary" asp-controller="Movies" asp-action="Show" asp-route-id="@Model.MovieId">Cancel</a>
</form>
