@model AMS.MVC.ViewModels.GenreViewModels.GenreShowViewModel

@{
    ViewData["Title"] = "Genre movies";
    
    var titleActive = false;
    var titleOrder = "asc";
    var titleArrow = "";
    
    if ((string) ViewData["sort"] == "title")
    {
        titleActive = true;
        titleOrder = (string) ViewData["order"] == "asc" ? "desc" : "asc";
        titleArrow = (string) ViewData["order"] == "asc" ? "▲" : "▼";
    }

    var releaseDateActive = false;
    var releaseDateOrder = "asc";
    var releaseDateArrow = "";
    
    if ((string) ViewData["sort"] == "release_date")
    {
        releaseDateActive = true;
        releaseDateOrder = (string) ViewData["order"] == "asc" ? "desc" : "asc";
        releaseDateArrow = (string) ViewData["order"] == "asc" ? "▲" : "▼";
    }
    
    var isFirstDisabled = Model.Paginator.CurrentPage == 1;
    var isPreviousDisabled = Model.Paginator.CurrentPage - 1 < 1;
    var isNextDisabled = Model.Paginator.CurrentPage + 1 > Model.Paginator.TotalPages;
    var isLastDisabled = Model.Paginator.CurrentPage == Model.Paginator.TotalPages;
}

<h2 class="mb-0">Movies from genre: @Model.Genre.Name</h2>

<hr class="my-4" />

<div class="mb-4 row align-items-lg-center justify-content-lg-between">
    @if (Model.Paginator.Elements.Any()) {
        <div class="pb-4 pb-lg-0 col-12 col-lg-8">
            <div class="d-flex align-items-center">
                <span class="mr-2">Sort by:</span>
                <ul class="mb-0 list-inline">
                    <li class="list-inline-item">
                        <a class="@(titleActive ? "font-weight-bold" : "")" asp-controller="Genres" asp-action="Show" asp-route-id="@Model.Genre.Id" asp-route-search="@ViewData["search"]" asp-route-sort="title" asp-route-order="@titleOrder" asp-route-page="@ViewData["page"]">Title @titleArrow</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="@(releaseDateActive ? "font-weight-bold" : "")" asp-controller="Genres" asp-action="Show" asp-route-id="@Model.Genre.Id" asp-route-search="@ViewData["search"]" asp-route-sort="release_date" asp-route-order="@releaseDateOrder" asp-route-page="@ViewData["page"]">Release date @releaseDateArrow</a>
                    </li>
                </ul>
            </div>
        </div>
    }
    
    <div class="col-12 col-lg-4@(!Model.Paginator.Elements.Any() ? " offset-lg-8" : "")">
        <form asp-controller="Genres" asp-action="Show" method="GET">
            <div class="p-1 d-flex border rounded">
                <input class="mr-1 p-1 flex-grow-1 border-0" style="min-width: 75px;" type="text" name="search" placeholder="Search..." value="@ViewData["search"]" />
                <button class="btn btn-sm btn-primary" type="submit">Submit</button>
                
                @if (!string.IsNullOrEmpty((string) @ViewData["search"]))
                {
                    <a class="ml-1 btn btn-sm btn-danger" asp-controller="Genres" asp-action="Show" asp-route-id="@Model.Genre.Id">&#215;</a>
                }
            </div>
        </form>
    </div>
</div>

@if (!Model.Paginator.Elements.Any())
{
    @if (!string.IsNullOrEmpty((string) ViewData["search"]))
    {
        <div class="alert alert-info" role="alert">
            No results found.
        </div>   
    }
    else
    {
        <div class="alert alert-info" role="alert">
            Movies list is empty.
        </div>
    }
}
else
{
    @foreach (var movie in Model.Paginator.Elements)
    {
        var genres = movie.MovieGenres.Select(mg => mg.Genre).ToList();

        <div class="mb-4 card">
            <div class="card-body">
                <h5 class="mb-3 card-title">
                    @Html.DisplayFor(movies => movie.Title) (@Html.DisplayFor(movies => movie.ReleaseDate.Year))
                </h5>
                
                @if (genres.Any())
                {
                    <h6 class="card-subtitle mb-3">
                        @foreach (var genre in genres)
                        {
                            <a asp-controller="Genres" asp-action="Show" asp-route-id="@genre.Id" class="badge badge-primary">@genre.Name</a>
                        }
                    </h6>
                }
                
                @if (!string.IsNullOrEmpty(movie.Description))
                {
                    <p class="card-text">
                        <i>@Html.DisplayFor(movies => movie.Description)</i>
                    </p>
                }

                <a class="card-link btn btn-outline-secondary" asp-controller="Movies" asp-action="Show" asp-route-id="@movie.Id">Details</a>
                
                @if ((await AuthorizationService.AuthorizeAsync(User, movie, MovieOperations.Edit)).Succeeded)
                {
                    <a class="ml-2 card-link btn btn-outline-primary" asp-controller="Movies" asp-action="Edit" asp-route-id="@movie.Id">Edit</a>
                }
                
                @if (User.IsInRole("Administrator"))
                {
                    <a class="ml-2 card-link btn btn-outline-danger" asp-controller="Movies" asp-action="ConfirmDelete" asp-route-id="@movie.Id">Delete</a>   
                }
            </div>
        </div>   
    }
    
    @if (Model.Paginator.TotalPages > 1)
    {
        <div class="d-flex justify-content-center align-items-center">
            <div>
                <a class="btn btn-primary @(isFirstDisabled ? "disabled" : "")" asp-controller="Genres" asp-action="Show" asp-route-id="@Model.Genre.Id" asp-route-search="@ViewData["search"]" asp-route-sort="@ViewData["sort"]" asp-route-order="@ViewData["order"]" asp-route-page="1">&#171;</a>
                <a class="btn btn-primary @(isPreviousDisabled ? "disabled" : "")" asp-controller="Genres" asp-action="Show" asp-route-id="@Model.Genre.Id" asp-route-search="@ViewData["search"]" asp-route-sort="@ViewData["sort"]" asp-route-order="@ViewData["order"]" asp-route-page="@(Model.Paginator.CurrentPage - 1)">&#8249;</a>
            </div>
            <div class="mx-2">
                Page @Model.Paginator.CurrentPage from @Model.Paginator.TotalPages
            </div>
            <div>
                <a class="btn btn-primary @(isNextDisabled ? "disabled" : "")" asp-controller="Genres" asp-action="Show" asp-route-id="@Model.Genre.Id" asp-route-search="@ViewData["search"]" asp-route-sort="@ViewData["sort"]" asp-route-order="@ViewData["order"]" asp-route-page="@(Model.Paginator.CurrentPage + 1)">&#8250;</a>
                <a class="btn btn-primary @(isLastDisabled ? "disabled" : "")" asp-controller="Genres" asp-action="Show" asp-route-id="@Model.Genre.Id" asp-route-search="@ViewData["search"]" asp-route-sort="@ViewData["sort"]" asp-route-order="@ViewData["order"]" asp-route-page="@Model.Paginator.TotalPages">&#187;</a>
            </div>
        </div>   
    }
}

@section Scripts
{
    <script type="text/javascript" src="~/lib/mark.js/mark.min.js"></script>
    <script type="text/javascript">
        (function () {
            const mark = new Mark(document.querySelectorAll('.card-title, .card-text'));
            mark.mark("@ViewData["search"]");
        })();
    </script>
}
