@model IEnumerable<AMS.MVC.Data.Models.Movie>

@{
    ViewData["Title"] = "Movies list";
}

<div class="d-flex justify-content-between align-items-center">
    <h2 class="mb-0">Movies list</h2>
    <a class="btn btn-success" asp-controller="Movies" asp-action="Create">Create movie</a>
</div>

<hr class="my-4" />

@if (!Model.Any())
{
    <div class="alert alert-info" role="alert">
        Movies list is empty.
    </div>
}
else
{
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(movie => movie.Id)
                </th>    
                <th scope="col">
                    @Html.DisplayNameFor(movie => movie.Title)
                </th>    
                <th scope="col">
                    @Html.DisplayNameFor(movie => movie.Description)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(movie => movie.ReleaseDate)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(movies => movie.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(movies => movie.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(movies => movie.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(movies => movie.ReleaseDate)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
