@model AMS.MVC.ViewModels.MovieViewModels.MovieIndexViewModel

@{
    ViewData["Title"] = "Movies list";

    var titleActive = false;
    var titleOrder = "asc";
    var titleArrow = "";
    
    if ((string) ViewData["sort"] == "title")
    {
        titleActive = true;
        titleOrder = (string) ViewData["order"] == "asc" ? "desc" : "asc";
        titleArrow = (string) ViewData["order"] == "asc" ? "▲" : "▼";
    }

    var releaseDateActive = false;
    var releaseDateOrder = "asc";
    var releaseDateArrow = "";
    
    if ((string) ViewData["sort"] == "release_date")
    {
        releaseDateActive = true;
        releaseDateOrder = (string) ViewData["order"] == "asc" ? "desc" : "asc";
        releaseDateArrow = (string) ViewData["order"] == "asc" ? "▲" : "▼";
    }
    
    var isFirstDisabled = Model.Paginator.CurrentPage == 1;
    var isPreviousDisabled = Model.Paginator.CurrentPage - 1 < 1;
    var isNextDisabled = Model.Paginator.CurrentPage + 1 > Model.Paginator.TotalPages;
    var isLastDisabled = Model.Paginator.CurrentPage == Model.Paginator.TotalPages;
}

<div class="d-flex justify-content-between align-items-center">
    <h2 class="mb-0">Movies list</h2>
    
    @if (User.IsInRole("Manager") || User.IsInRole("Administrator"))
    {
        <a class="btn btn-success" asp-controller="Movies" asp-action="Create">Create movie</a>
    }
</div>

<hr class="my-4" />

<div class="mb-4 d-flex @(Model.Paginator.Elements.Any() ? "justify-content-between" : "justify-content-end") align-items-center">
    @if (Model.Paginator.Elements.Any()) {
        <div class="d-flex align-items-center">
            <span class="mr-2">Sort by:</span>
            <ul class="mb-0 list-inline">
                <li class="list-inline-item">
                    <a class="@(titleActive ? "font-weight-bold" : "")" asp-controller="Movies" asp-action="Index" asp-route-search="@ViewData["search"]" asp-route-sort="title" asp-route-order="@titleOrder" asp-route-page="@ViewData["page"]">Title @titleArrow</a>
                </li>
                <li class="list-inline-item">
                    <a class="@(releaseDateActive ? "font-weight-bold" : "")" asp-controller="Movies" asp-action="Index" asp-route-search="@ViewData["search"]" asp-route-sort="release_date" asp-route-order="@releaseDateOrder" asp-route-page="@ViewData["page"]">Release date @releaseDateArrow</a>
                </li>
            </ul>
        </div>
    }
    
    <div>
        <form class="form-inline" asp-controller="Movies" asp-action="Index" method="GET">
            <div class="d-flex align-items-center">
                <input class="mx-2 form-control" type="text" name="search" placeholder="Search..." value="@ViewData["search"]" />
                <button class="btn btn-primary" type="submit">Submit</button>
                
                @if (!string.IsNullOrEmpty((string) @ViewData["search"]))
                {
                    <a class="ml-2 btn btn-danger" asp-controller="Movies" asp-action="Index">Reset</a>
                }
            </div>
        </form>
    </div>
</div>

@if (!Model.Paginator.Elements.Any())
{
    @if (!string.IsNullOrEmpty((string) ViewData["search"]))
    {
        <div class="alert alert-info" role="alert">
            No results found.
        </div>   
    }
    else
    {
        <div class="alert alert-info" role="alert">
            Movies list is empty.
        </div>
    }
}
else
{
    @foreach (var movie in Model.Paginator.Elements)
    {
        var genres = movie.MovieGenres.Select(mg => mg.Genre).ToList();

        <div class="mb-4 card">
            <div class="card-body">
                <h5 class="mb-3 card-title">
                    @Html.DisplayFor(movies => movie.Title) (@Html.DisplayFor(movies => movie.ReleaseDate.Year))
                </h5>
                
                @if (genres.Any())
                {
                    <h6 class="card-subtitle mb-3">
                        @foreach (var genre in genres)
                        {
                            <a asp-controller="Genres" asp-action="Show" asp-route-id="@genre.Id" class="badge badge-primary">@genre.Name</a>
                        }
                    </h6>
                }
                
                @if (!string.IsNullOrEmpty(movie.Description))
                {
                    <p class="card-text">
                        <i>@Html.DisplayFor(movies => movie.Description)</i>
                    </p>
                }

                <a class="card-link btn btn-outline-secondary" asp-controller="Movies" asp-action="Show" asp-route-id="@movie.Id">Details</a>

                @if ((await AuthorizationService.AuthorizeAsync(User, movie, MovieOperations.Edit)).Succeeded)
                {
                    <a class="ml-2 card-link btn btn-outline-primary" asp-controller="Movies" asp-action="Edit" asp-route-id="@movie.Id">Edit</a>
                }
                
                @if (User.IsInRole("Administrator"))
                {
                    <a class="ml-2 card-link btn btn-outline-danger" asp-controller="Movies" asp-action="ConfirmDelete" asp-route-id="@movie.Id">Delete</a>   
                }
            </div>
        </div>   
    }
    
    @if (Model.Paginator.TotalPages > 1)
    {
        <div class="d-flex justify-content-center align-items-center">
            <div>
                <a class="btn btn-primary @(isFirstDisabled ? "disabled" : "")" asp-controller="Movies" asp-action="Index" asp-route-search="@ViewData["search"]" asp-route-sort="@ViewData["sort"]" asp-route-order="@ViewData["order"]" asp-route-page="1">First</a>
                <a class="btn btn-primary @(isPreviousDisabled ? "disabled" : "")" asp-controller="Movies" asp-action="Index" asp-route-search="@ViewData["search"]" asp-route-sort="@ViewData["sort"]" asp-route-order="@ViewData["order"]" asp-route-page="@(Model.Paginator.CurrentPage - 1)">Previous</a>
            </div>
            <div class="mx-2">
                Page @Model.Paginator.CurrentPage from @Model.Paginator.TotalPages
            </div>
            <div>
                <a class="btn btn-primary @(isNextDisabled ? "disabled" : "")" asp-controller="Movies" asp-action="Index" asp-route-search="@ViewData["search"]" asp-route-sort="@ViewData["sort"]" asp-route-order="@ViewData["order"]" asp-route-page="@(Model.Paginator.CurrentPage + 1)">Next</a>
                <a class="btn btn-primary @(isLastDisabled ? "disabled" : "")" asp-controller="Movies" asp-action="Index" asp-route-search="@ViewData["search"]" asp-route-sort="@ViewData["sort"]" asp-route-order="@ViewData["order"]" asp-route-page="@Model.Paginator.TotalPages">Last</a>
            </div>
        </div>   
    }
}

@section Scripts
{
    <script type="text/javascript" src="~/lib/mark.js/mark.min.js"></script>
    <script type="text/javascript">
        (function () {
            const mark = new Mark(document.querySelectorAll('.card-title, .card-text'));
            mark.mark("@ViewData["search"]");
        })();
    </script>
}
