@model AMS.MVC.Data.Models.Movie

@{
    ViewData["Title"] = "Movie details";

    var canCreate = (await AuthorizationService.AuthorizeAsync(User, Model, MovieStarOperations.Create)).Succeeded;
    var canEdit = (await AuthorizationService.AuthorizeAsync(User, Model, MovieStarOperations.Edit)).Succeeded;
    var canDelete = (await AuthorizationService.AuthorizeAsync(User, Model, MovieStarOperations.Delete)).Succeeded;
    
    var genres = Model.MovieGenres.Select(mg => mg.Genre).ToList();
    var directors = Model.MovieDirectors.Select(md => md.Person).ToList();
    var writers = Model.MovieWriters.Select(mw => mw.Person).ToList();
}

<div class="d-flex justify-content-between align-items-center">
    <h2 class="mb-0">Movie details</h2>
    <div>
        @if ((await AuthorizationService.AuthorizeAsync(User, Model, MovieOperations.Edit)).Succeeded)
        {
            <a class="btn btn-success" asp-controller="Movies" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>   
        }
        
        @if (User.IsInRole("Administrator"))
        {
            <a class="btn btn-danger" asp-controller="Movies" asp-action="ConfirmDelete" asp-route-id="@Model.Id">Delete</a>   
        }
    </div>
</div>

<hr class="my-4" />

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(movie => movie.Id)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(movie => movie.Id)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(movie => movie.Title)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(movie => movie.Title)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(movie => movie.Description)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(movie => movie.Description)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(movie => movie.ReleaseDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ReleaseDate)
    </dd>
    
    @if (genres.Any())
    {
        <dt class="col-sm-2">
            Genres
        </dt>
        <dd class="col-sm-10">
            @string.Join(", ", genres.Select(genre => genre.Name))
        </dd>
    }
    
    @if (directors.Any())
    {
        <dt class="col-sm-2">
            Directors
        </dt>
        <dd class="col-sm-10">
            @string.Join(", ", directors.Select(person => person.FullName))
        </dd>
    }
    
    @if (writers.Any())
    {
        <dt class="col-sm-2">
            Writers
        </dt>
        <dd class="col-sm-10">
            @string.Join(", ", writers.Select(person => person.FullName))
        </dd>
    }
</dl>


<div class="d-flex justify-content-between align-items-center">
    <h2 class="mb-0">Stars</h2>
    
    @if (canCreate)
    {
        <a class="btn btn-success" asp-controller="Stars" asp-action="Create" asp-route-id="@Model.Id">Create</a>
    }
</div>

<hr class="my-4" />

@if (!Model.MovieStars.Any())
{
    <div class="alert alert-info" role="alert">
        Stars list is empty.
    </div>
}
else
{
    <table class="table">
        <thead class="thead-dark">
            <tr class="d-flex">
                <th class="@((canEdit || canDelete) ? "col-5" : "col-6")">Actor</th>    
                <th class="@((canEdit || canDelete) ? "col-5" : "col-6")">Character</th>
                
                @if (canEdit || canDelete)
                {
                    <th class="col-2"></th>   
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var star in Model.MovieStars)
            {
                <tr class="d-flex">
                    <td class="@((canEdit || canDelete) ? "col-5" : "col-6") d-flex align-items-center">@star.Person.FullName</td>
                    <td class="@((canEdit || canDelete) ? "col-5" : "col-6") d-flex align-items-center">@star.Character</td>
                    
                    @if (canEdit || canDelete)
                    {
                        <td class="col-2 d-flex align-items-center justify-content-end">
                            @if (canEdit)
                            {
                                <a asp-controller="Stars" asp-action="Edit" asp-route-movieId="@star.MovieId" asp-route-personId="@star.PersonId" class="btn btn-primary mr-1">Edit</a>    
                            }
                        
                            @if (canDelete)
                            {
                                <a asp-controller="Stars" asp-action="ConfirmDelete" asp-route-movieId="@star.MovieId" asp-route-personId="@star.PersonId" class="btn btn-danger">Delete</a>   
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
