@model AMS.MVC.ViewModels.PersonViewModels.PersonIndexViewModel
@addTagHelper *, ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "Persons list";
}

<div class="d-flex justify-content-between align-items-center">
    <h2 class="mb-0">Persons list</h2>
    
    @if (User.IsInRole("Manager") || User.IsInRole("Administrator"))
    {
        <a class="btn btn-success" asp-controller="Persons" asp-action="Create">Create movie</a>
    }
</div>

<hr class="my-4" />

@if (!Model.Persons.Any())
{
    <div class="alert alert-info" role="alert">
        Persons list is empty.
    </div>
}
else
{
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.Persons.First().Id)
            </th>
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.Persons.First().FirstName)
            </th>
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.Persons.First().LastName)
            </th>
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.Persons.First().DateOfBirth)
            </th>
                
            @if (User.IsInRole("Manager") || User.IsInRole("Administrator"))
            {
                <th></th>   
            }
        </tr>
        </thead>
        <tbody>
        @foreach (var person in Model.Persons)
        {
            <tr>
                <td class="align-middle">
                    <a asp-controller="Persons" asp-action="Show" asp-route-id="@person.Id">
                        @Html.DisplayFor(model => person.Id)
                    </a>
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(model => person.FirstName)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(model => person.LastName)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(model => person.DateOfBirth)
                </td>
                    
                @if (User.IsInRole("Manager") || User.IsInRole("Administrator"))
                {
                    <td class="align-middle">
                        <a class="btn btn-primary" asp-controller="Persons" asp-action="Edit" asp-route-id="@person.Id">Edit</a>
                        <a class="btn btn-danger" asp-controller="Persons" asp-action="ConfirmDelete" asp-route-id="@person.Id">Delete</a>
                    </td>   
                }
            </tr>
        }
        </tbody>
    </table>
    
    <vc:pager paging-list="@Model.Persons" />
}
