@model AMS.MVC.ViewModels.PersonViewModels.PersonShowViewModel

@{
    ViewData["Title"] = "Person details";
    
    var userHasManagerOrAdministratorRole = User.IsInRole("Manager") || User.IsInRole("Administrator");
}

<div class="d-flex flex-nowrap @(userHasManagerOrAdministratorRole ? "justify-content-between" : "justify-content-start") align-items-center">
    <h2 class="mb-0">Person details</h2>
    
    @if (userHasManagerOrAdministratorRole)
    {
        <div>
            <a class="btn btn-primary" asp-controller="Persons" asp-action="Edit" asp-route-id="@Model.Person.Id">Edit</a>
        
            @if (User.IsInRole("Administrator"))
            {
                <a class="ml-2 btn btn-danger" asp-controller="Persons" asp-action="ConfirmDelete" asp-route-id="@Model.Person.Id">Delete</a>   
            }
        </div>
    }
</div>

<hr class="my-4" />

<div class="container">
    <div class="row no-gutters">
        <div class="col-12 col-lg-4">
            <dl>
                <dt>@Html.DisplayNameFor(model => model.Person.FirstName):</dt>
                <dd>@Html.DisplayFor(model => model.Person.FirstName)</dd>
            </dl>
            <dl>
                <dt>@Html.DisplayNameFor(model => model.Person.LastName):</dt>
                <dd>@Html.DisplayFor(model => model.Person.LastName)</dd>
            </dl>
            <dl>
                <dt>@Html.DisplayNameFor(model => model.Person.DateOfBirth):</dt>
                <dd>@Html.DisplayFor(model => model.Person.DateOfBirth)</dd>
            </dl>
        </div>
        <div class="col-12 col-lg-8">
            <div class="card mb-3">
                <a class="text-reset text-decoration-none" data-toggle="collapse" href="#collapse-director">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <span>Movies directed by @Html.DisplayFor(model => model.Person.FullName)</span>
                        <span id="collapse-director-arrow">▼</span>
                    </div>
                </a>
                <div class="collapse" id="collapse-director">
                    @if (Model.MovieDirector.Any())
                    {
                        <ul class="list-group list-group-flush">
                            @foreach (var movie in Model.MovieDirector)
                            {
                                <a class="list-group-item list-group-item-action" asp-controller="Movies" asp-action="Show" asp-route-id="@movie.Id">
                                    @movie.Title
                                </a>
                            }
                        </ul>
                    }
                    else
                    {
                        <div class="card-body">No movies.</div>
                    }
                </div>
            </div>

            <div class="card mb-3">
                <a class="text-reset text-decoration-none" data-toggle="collapse" href="#collapse-writer">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <span>Movies written by @Html.DisplayFor(model => model.Person.FullName)</span>
                        <span id="collapse-writer-arrow">▼</span>
                    </div>
                </a>
                <div class="collapse" id="collapse-writer">
                    @if (Model.MovieWriter.Any())
                    {
                        <ul class="list-group list-group-flush">
                            @foreach (var movie in Model.MovieWriter)
                            {
                                <a class="list-group-item list-group-item-action" asp-controller="Movies" asp-action="Show" asp-route-id="@movie.Id">
                                    @movie.Title
                                </a>
                            }
                        </ul>
                    }
                    else
                    {
                        <div class="card-body">No movies.</div>
                    }
                </div>
            </div>
            
            <div class="card mb-3">
                <a class="text-reset text-decoration-none" data-toggle="collapse" href="#collapse-star">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <span>Movies acted by @Html.DisplayFor(model => model.Person.FullName)</span>
                        <span id="collapse-star-arrow">▼</span>
                    </div>
                </a>
                <div class="collapse" id="collapse-star">
                    @if (Model.MovieStar.Any())
                    {
                        <ul class="list-group list-group-flush">
                            @foreach (var movie in Model.MovieStar)
                            {
                                <a class="list-group-item list-group-item-action" asp-controller="Movies" asp-action="Show" asp-route-id="@movie.Id">
                                    @movie.Title
                                </a>
                            }
                        </ul>
                    }
                    else
                    {
                        <div class="card-body">No movies.</div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#collapse-director')
                .on('show.bs.collapse', function () {
                    $('#collapse-director-arrow').text('▲');
                })
                .on('hide.bs.collapse', function () {
                    $('#collapse-director-arrow').text('▼');
                });
            
            $('#collapse-writer')
                .on('show.bs.collapse', function () {
                    $('#collapse-writer-arrow').text('▲');
                })
                .on('hide.bs.collapse', function () {
                    $('#collapse-writer-arrow').text('▼');
                });
            
            $('#collapse-star')
                .on('show.bs.collapse', function () {
                    $('#collapse-star-arrow').text('▲');
                })
                .on('hide.bs.collapse', function () {
                    $('#collapse-star-arrow').text('▼');
                });
        });
    </script>
}
