@model AMS.MVC.ViewModels.PersonViewModels.PersonShowViewModel

@{
    ViewData["Title"] = "Person details";
    
    var userHasManagerOrAdministratorRole = User.IsInRole("Manager") || User.IsInRole("Administrator");
}

<div class="d-flex @(userHasManagerOrAdministratorRole ? "justify-content-between" : "justify-content-start") align-items-center">
    <h2 class="mb-0">Person details</h2>
    
    @if (userHasManagerOrAdministratorRole)
    {
        <div>
            <a class="btn btn-primary" asp-controller="Persons" asp-action="Edit" asp-route-id="@Model.Person.Id">Edit</a>
        
            @if (User.IsInRole("Administrator"))
            {
                <a class="ml-2 btn btn-danger" asp-controller="Persons" asp-action="ConfirmDelete" asp-route-id="@Model.Person.Id">Delete</a>   
            }
        </div>
    }
</div>

<hr class="my-4" />

<div class="container">
    <div class="row">
        <div class="col-4">
            <dl>
                <dt>@Html.DisplayNameFor(model => model.Person.FirstName):</dt>
                <dd>@Html.DisplayFor(model => model.Person.FirstName)</dd>
            </dl>
            <dl>
                <dt>@Html.DisplayNameFor(model => model.Person.LastName):</dt>
                <dd>@Html.DisplayFor(model => model.Person.LastName)</dd>
            </dl>
            <dl>
                <dt>@Html.DisplayNameFor(model => model.Person.DateOfBirth):</dt>
                <dd>@Html.DisplayFor(model => model.Person.DateOfBirth)</dd>
            </dl>
        </div>
        <div class="col-8">
            <h3>Director:</h3>
            
            @if (Model.MovieDirector.Any())
            {
                <ul class="mb-3 list-group">
                    @foreach (var movie in Model.MovieDirector)
                    {
                        <a class="list-group-item list-group-item-action" asp-controller="Movies" asp-action="Show" asp-route-id="@movie.Id">
                            @movie.Title
                        </a>
                    }
                </ul>   
            }
            else
            {
                <div class="alert alert-info" role="alert">
                    List is empty.
                </div>
            }
            
            <h3>Writer:</h3>
            
            @if (Model.MovieWriter.Any())
            {
                <ul class="list-group mb-3">
                    @foreach (var movie in Model.MovieWriter)
                    {
                        <a class="list-group-item list-group-item-action" asp-controller="Movies" asp-action="Show" asp-route-id="@movie.Id">
                            @movie.Title
                        </a>   
                    }
                </ul>    
            }
            else
            {
                <div class="alert alert-info" role="alert">
                    List is empty.
                </div>
            }
            
            <h3>Star:</h3>
            
            @if (Model.MovieStar.Any())
            {
                <ul class="list-group">
                    @foreach (var movie in Model.MovieStar)
                    {
                        <a class="list-group-item list-group-item-action" asp-controller="Movies" asp-action="Show" asp-route-id="@movie.Id">
                            @movie.Title
                        </a>
                    }
                </ul>
            }
            else
            {
                <div class="alert alert-info" role="alert">
                    List is empty.
                </div>
            }
        </div>
    </div>
</div>
